doctype html
html
    head
        title PiDuino Lock
        script(type='text/javascript' src='/js/react.js')
        script(type='text/javascript' src='/js/ReactRouter.min.js')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/app.css')
        script(type='text/javascript' src='/js/jquery.min.js')
        script(type='text/javascript' src='/js/jquery-ui.min.js')
        script(type='text/javascript' src='/js/showdown.min.js')
        script(type='text/javascript' src='/js/jquery.cookie.js')
        //script(src='/js/jqueryDoorlock')
        //script(src='/js/jqueryDoorlock.js')
        //script
        //    $(document).ready
        //script
        //    $.getScript( "/js/jqueryDoorlock.js")
    //script(type='text/javascript' src='/js/jqueryDoorlock.js')
    //script(src='/js/jqueryDoorlock.js' defer)
    //script(src='/js/jqueryDoorlock.js' async)
    //script(type='text/javascript').
    //    $.getScript( "/js/jqueryDoorlock.js");
//body(onload="$.getScript( \"/js/jqueryDoorlock.js\")")
body
    script(type='text/javascript' src='/js/Bundle.js')
    //script
    //    $.getScript( "/js/jqueryDoorlock.js")
