# Compiled code
*.class

# current testing files
web/includedPackages
backups/

# ignore the .something files
.coveralls.yml
composer.lock
*.swp
mysqlLogin.java
*.jar
web/inc/mysqlUser.php
web/inc/variables.php
web/lock_error.log
build/logs/clover.xml

/vendor/
/build/logs/*
