# Compiled code
*.class
*.properties

# current testing files
backups/

# ignore the .something files
.coveralls.yml
composer.lock
*.swp
*.idea
mysqlLogin.java
*.jar
*.log

# ignore directories
web/src/inc/variables.php
*/src/properties/*
web/lock_error.log

*/src/vendor/
web/build/logs/*
node_modules/
