# Ignore certain file extensions and compiled code
*.class
*.properties
*.ini
*.swp
*.idea
*.jar
*.log
*.iml
*.log
*.conf
*.err
*.pid

# Ignore specific files
Bundle.js
react.js
salt.json
newrelic.yml
nfc/nfc-lock/src/main/groovy/com/wrixton/doorlock/mysqlLogin.groovy

# Ignore directories
backups/
**/src/properties/**
**/src/vendor/**
**/build/logs/*
**/node_modules/**
**/target/**
