FORMAT: X-1A
HOST: http://api.doorlock.war.re/

# Door Lock
This is the API for a door lock system.
It handles all information that is transferred to the system.


# Group Login
Login to doorlock. Handles login and session management.

## POST /login
Returns login information, sets a cookie if the passed in data is valid.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 
 
            X-DoorLock-Api-Key: {Api-Key}

    + Body
    
            {
                "username": "{user}",
                "password": "{pass}"
            }

+ Response 200 (application/json)
    
    + Headers
        
            Set-Cookie: sid={cookie}; path=/;

    + Body
    
            {
                "username": "{user}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }
            
+ Response 403 (application/json)

    + Body
    
            {
                "Invalid Username or Password": "{Username}",
                "success": 0
            }
            
            
            
# Group Logout
Logs out of the doorlock. Handles logout and session management.

## GET /logout
Returns logout information, sets a cookie if the passed in data is valid.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 
 
            X-DoorLock-Api-Key: {Api-Key}

    + Body
    
            {
                "username": "{user}",
                "cookie": "{sid}"
            }

+ Response 200 (application/json)

    + Body
    
            {
                "Logged out": "{user}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }


# Group IsLoggedIn
Returns if the user is logged in to the doorlock.

## POST /IsLoggedIn
Returns if forgotten password is changed.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers
            
            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"
            
    + Body


+ Response 200 (application/json)

    + Body

            {
                "User": "{user}",
                "IsLoggedIn": "{IsLoggedIn}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }


# Group IsAdmin
Returns if user is an admin for the doorlock.

## POST /IsAdmin
Returns if forgotten password is changed.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers
    
            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body


+ Response 200 (application/json)

    + Body

            {
                "User": "{user}",
                "Admin": "{isAdmin}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

# Group GetUserInfo
Returns if user information for a user in the doorlock.

## POST /GetUserInfo
Returns the user information for the user.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body


+ Response 200 (application/json)

    + Body

            {
                "Username": "{username}",
                "Name": "{name}",
                "Email": "{email}",
                "CardID": "{cardID}",
                "AuthyID": "{authyID}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

# Group GetAllUsers
Returns all users for the doorlock.

## POST /GetAllUsers
Returns if the user is registered.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body

+ Response 200 (application/json)

    + Body

            {
                "InactiveUsers": "{
                                    {listOfInactiveUsers},
                                  }",
                "ActiveUsers": "{
                                    {listOfCctiveUsers},
                                }",
                "Admins":  "{
                                {listOfAdmins},
                            }",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

# Group RegisterUser
Returns if user information for a user in the doorlock.

## POST /RegisterUser
Returns if the user is registered.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body

            {
                "Username": "{username}",
                "PersonName": "{personName}",
                "PersonPassword": "{personPassword}",
                "PersonEmail": "{personEmail}",
                "PersonCardID": "{personCardID}",
                "PersonAuthyID": "{personAuthyID}",
                "PersonIsAdmin": "{personIsAdmin}"
            }

+ Response 200 (application/json)

    + Body

            {
                "Username": "{username}",
                "Name": "{name}",
                "Email": "{email}",
                "CardID": "{cardID}",
                "AuthyID": "{authyID}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

# Group Change User Type
Updates user type for the doorlock of a user. Handles logout and session management.

## POST /ChangeUserType
Returns changes user type.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key},
            "cookie": "{sid}"

    + Body

            {
                "userToChange": "{userToChange}",
                "newType": "{newType}"
            }

+ Response 200 (application/json)

    + Body

            {
                "Updated User": "{user}",
                "Updated Type": "{type}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

+ Response 403 (application/json)

    + Body

            {
                "Invalid-Password": "{user}",
                "success": 0
            }

# Group Update User Info
Updates user info for the doorlock. Handles logout and session management.

## POST /UpdateUserInfo
Returns changes the user's password.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 

            X-DoorLock-Api-Key: {Api-Key},
            "cookie": "{sid}"


    + Body
    
            {
                "username": "{user}",
                "old-password": "{old-password}",
                "new-password": "{new-password}",
                "confirm-new-password": "{confirm-new-password}",
                "authy": "{authy}",
                "card": "{card}",
                "email": "{email}",
                "name": "{name}"
            }

+ Response 200 (application/json)

    + Body
    
            {
                "Updated User Information": "{user}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }
            
+ Response 403 (application/json)

    + Body
    
            {
                "Invalid-Password": "{user}",
                "success": 0
            }

# Group Forgot Password
Resets user password for the doorlock.

## POST /ForgotPassword
Returns if forgotten password is changed.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key}

    + Body

            {
                "Password": "{password}",
                "ConfirmPassword": "{confirmPassword}",
                "ResetToken": "{resetToken}"
            }

+ Response 200 (application/json)

    + Body

            {
                "Forgotten Password Changed": "{user}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }

# Group Reset Password
Resets user password for the doorlock.

## POST /ResetPassword
Returns if password reset is sent.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 
 
            X-DoorLock-Api-Key: {Api-Key}

    + Body
    
            {
                "username": "{user}",
                "email": "{email}"
            }

+ Response 200 (application/json)

    + Body
    
            {
                "Reset Password Sent": "{user}",
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }



# Group Lock Status
Gets current status of the lock

## GET /LockStatus
Returns changes the status of the lock.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 

            X-DoorLock-Api-Key: {Api-Key},
            "cookie": "{sid}"

    + Body
    


+ Response 200 (application/json)

    + Body
    
            {
                "Status": "{Locked/Unlocked}",
                "isLocked": {1/0},
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }
            
# Group Lock
Locks the doorlock.

## POST /Lock
Returns if the doorlock gets locked.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body

+ Response 200 (application/json)

    + Body
    
            {
                "Locked Door": "Success",
                "success": 1
            }

+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }
            
# Group Unlock
Unlocks the doorlock.

## POST /Unlock
Returns if the doorlock gets unlocked.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)
   
    + Headers 

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body
    


+ Response 200 (application/json)

    + Body
    
            {
                "Unlocked Door": "Success",
                "success": 1
            }
            
+ Response 401 (application/json)

    + Body
    
            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }


## POST /config
Returns the doorlock configuration.
Also returns success = 1 for success. Returns success = 0 for fail.
+ Request (application/json)

    + Headers

            X-DoorLock-Api-Key: {Api-Key}
            "cookie": "{sid}"

    + Body



+ Response 200 (application/json)

    + Body

            {
                "branch.name":"{branch name}",
                "git.sha1":"{git sha}",
                "git.version":"{version}",
                "api.url":"{some url}",
                "webserver.root":"{root}",
                "env":"{environment}"
            }

+ Response 401 (application/json)

    + Body

            {
                "Invalid API key": "{Api-Key}",
                "success": 0
            }
            