html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  background-color: #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login {
  margin-left: 20px;
  margin-right: 25px;
}

.header {
  margin-top: 15px;
  background-image: url('/images/logo.gif'); 
  background-size: 300px 77.5px;
  background-repeat: no-repeat;
  background-position: center; 
  height: 100px;
}

.footer {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.textbox {
  width: 100%;
}


