Options -Indexes FollowSymLinks
RewriteEngine on
RewriteRule logout.php userFunctions.php?actions=logout
RewriteRule ^users/?$  users.php [L]
RewriteRule ^lock/?$  lock.php [L]
RewriteRule login.php userFunctions.php?actions=login
RewriteRule register.php userFunctions.php?actions=registerUser
RewriteRule changeUser.php userFunctions.php?actions=changeUser
RewriteRule changePassword.php userFunctions.php?actions=changePassword
