#Options -Indexes FollowSymLinks
#Header set Access-Control-Allow-Origin "*"

RewriteEngine on
#RewriteRule logout.php http://api.localhost/logout
#RewriteRule ^users/?$  users.php [L]
#RewriteRule ^lock/?$  lock.php [L]
#RewriteRule ^admin/?$  admin.php [L]
#RewriteRule ^config/?$  config.php [L]
#RewriteRule login.php http://api.localhost/login
#RewriteRule register.php userFunctions.php?actions=registerUser
#RewriteRule changeUser.php userFunctions.php?actions=changeUser
#RewriteRule changePassword.php userFunctions.php?actions=changePassword
#RewriteRule changeUserInfo.php userFunctions.php?actions=changeUserInfo
#RewriteRule resetPassword.php userFunctions.php?actions=resetPassword
#RewriteRule ^forgotPassword/([^/]*)$ resetToken.php?resetToken=$1 [L]
#RewriteRule ^submitPassReset/([^/]*)$ userFunctions.php?actions=forgotPassword&resetToken=$1 [L]



RewriteRule ^react/?$  react.php [L]
RewriteRule ^users/?$  users.php [L]
RewriteRule ^lock/?$  lock.php [L]
RewriteRule ^admin/?$  admin.php [L]
RewriteRule ^config/?$  config.php [L]
RewriteRule login.php userFunctions.php?actions=login
RewriteRule logout.php userFunctions.php?actions=logout
RewriteRule register.php userFunctions.php?actions=registerUser
RewriteRule changeUser.php userFunctions.php?actions=changeUser
RewriteRule changePassword.php userFunctions.php?actions=changePassword
RewriteRule changeUserInfo.php userFunctions.php?actions=changeUserInfo
RewriteRule resetPassword.php userFunctions.php?actions=resetPassword
RewriteRule ^forgotPassword/([^/]*)$ resetToken.php?resetToken=$1 [L]
RewriteRule ^submitPassReset/([^/]*)$ userFunctions.php?actions=forgotPassword&resetToken=$1 [L]

#ExpiresByType text/css "access 1 month"


