.container {
    margin-top: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    background-image: url('/images/logo.gif');
    background-repeat: no-repeat;
    height: 155px;
}

.nav {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
    text-align: center;
}

.nav a {
    text-decoration: none;
}

.nav ol, .nav ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.nav li {
    display: inline;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #707070;
}

.nav li:after {
    border-right: 1px solid #707070;
    padding-left: 15px;
    margin-left: 15px;
}

.nav li:last-child {
    border-right: 0;
}

.content {
}

.footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #707070;
    text-align: center;
}

.login {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.loginpage {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #707070;
    text-align: center;
}

.loginform {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.inputinput {
    width: 80%;
    padding: 5px;
    border: 5px;
    margin: 5px;
}

.inputtext {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

